@using Microsoft.AspNetCore.Authentication



<div class="text-center">
    <h1 class="display-4">Now that you are logging in, get your userInformation</h1>
</div>
<h2>Claims</h2>
<dl>
    @if(User.Claims != null)
    {
    <dt>good</dt>
    }
    else{
    <dt>bad</dt>
    }

</dl>
<dl>
    @foreach (var claim in User.Claims)
    {
    <dt>@claim.Type</dt>
    <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
    <dt>@prop.Key</dt>
    <dd>@prop.Value</dd>
    }
</dl>

