@page "/" 

@using Microsoft.AspNetCore.Authentication
@model Yuan.MVC.Demo.Pages.IndexModel

    <h2>Please rating your interested companies</h2>
    @(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

    <script src="_framework/blazor.server.js"></script>